/*
--------------
DESKTOP GENERAL SETTINGS
--------------
*/

.title {
	padding: 2.5em 0 1em 0;
}

.text {
	padding: 1.5em 0 1em 0;
	color: #444444;

	margin: 0 auto 0 auto;

	font-size: 1.6em;
	line-height: 2em;
	width: 40em;
}


/*
--------------
DESKTOP INDIVIDUAL ELEMENT STYLING
--------------
*/


/*
HEADER
*/

header {
	padding: 2em 4em;
}

#nav-bar {
	margin: auto;
	max-width: 90em;
}

#logo-icon, 
#menu-icon {
	display: none;
}

#logo-full, 
.menu-items {
	display: inline-block;
}


/*
COVER
*/

/* HOME COVER */

#cover {
	height: 60em;
	text-align: left;
}

#cover-contents {
	margin: auto;
	max-width: 70em;
	width: 80%
}

#cover-title {
	width: 11em;
	padding: 6.25em 0 1em 0;
}

#cover-phone {
	float: right;
	padding-top: 13em;
}

/* ABOUT COVER */

#cover-about {
	height: 20em;
	text-align: center;
}

#cover-about-contents {
	margin: auto;
	padding: 12em 0 0 0;
	height: 20em;
	width: 100%;
}

#cover-about-title {
	font-size: 3em;
}

/*
VALUES SECTION
*/

#values {
	height: 110em;
}


/*
SERVICES CAROUSEL - SEE STYLE-GENERAL.CSS FOR CONTENTS + TYPOGRAPHY
*/

.mobile-br {
	display: none;
}

#services-carousel {
	margin: 2em 0 4.5em 0;
}

.carousel-card {
	margin: 0 auto;
	width: 30em;
	height: 32.35em;
}

.card-text {
	font-size: 1.4em;
	width: 18em;
}


/*
INDUSTRIES CAROUSEL - SEE STYLE-GENERAL.CSS FOR CONTENTS + TYPOGRAPHY
*/

#industries-carousel {
	margin: 2em 0 0 0;
}

.carousel-slide {
	height: 34.5em;
}

.slide-title {
	padding: 3.25em 0 0 0;
}

.slide-text {
	font-size: 1.4em;
	width: 22em;
}


/*
LOCATIONS CAROUSEL - SEE STYLE-GENERAL.CSS FOR CONTENTS + TYPOGRAPHY
*/

#locations-carousel {
	margin: 3em 0 0 0;
}


/*
CONTACT FORM - SEE STYLE-GENERAL.CSS FOR STYLING
*/

#contact {
	height: 70em;
}

#contact-form {
	margin: 3em 0 0 0;
}

.contact-box {
	margin: 1.5em auto 0 auto;
	min-width: 25em;
	max-width: 40em;
	width: 60%
}

.contact-box p {
	text-align: left;
	padding: 1em 0 1em 1em;
	color: #888888;
	font-size: 1.2em;
}

#message-box {
	height: 15em;
}

#message-box,
#services-box,
#name-box,
#email-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);	
}


/* FORM BOX */

input, textarea {
	margin: 1.5em auto 0 auto;

	min-width: 25em;
	max-width: 40em;
	width: 60%;

	text-align: left;
	padding: 1em;
	color: #888888;

	font-size: 1.2em;

	outline: none;
	border: none;
	border-radius: 5px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);	
}

textarea {
	height: 15em;
}

#form-button {
	font-family: "Ubuntu", sans-serif;
	width: 12.5em;
	min-width: 12.5em;
	max-width: 12.5em;
	height: 3em;
}


/* PLACEHOLDER EFFECTS */

input:focus::placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
	color:transparent;
}

input:focus:-moz-placeholder {
	color:transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
	color:transparent;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
	color:transparent;
} /* IE 10+ */

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color:transparent;
}

textarea:focus:-moz-placeholder {
	color:transparent;
} /* FF 4-18 */

textarea:focus::-moz-placeholder {
	color:transparent;
} /* FF 19+ */

textarea:focus:-ms-input-placeholder {
	color:transparent;
} /* IE 10+ */


/*
FOOTER
*/

footer {
	text-align: center;
	padding-top: 4em;
	padding-bottom: 1.5em;
}

.footer-text {
	margin: 3em auto;
	width: 22.5em;
}

.footer-nav {
	margin: 3em 0;
	display: flex;
	justify-content: space-between;
}

.footer-nav a {
	font-size: 1.6em;
}

.footer-text p {
	color: #9B9B9B;
	font-size: 1.4em;
	line-height: 1.4em;
}


